@charset "UTF-8";
.container {
  background-color: #c3f6ff;
  width: 100%;
  max-width: 1500px;
}

img {
  width: 100%;
  position: relative;
}

/*.text-main > h2 {
    position: absolute;
    top: 8%;
    left: 36%;
    -webkit-text-stroke: 0.1rem #FFF;
    font-weight: bold;
}
h2 span {
	height: 200px;
	position: absolute;
	width: 20px;
	left: 380px;
	top: 10px;
    -webkit-text-stroke: 0.1rem #FFF;
    font-weight: bold;
	transform-origin: bottom center;
	}
  .char1 { transform: rotate(-37deg); }
  .char2 { transform: rotate(-30deg); }
  .char3 { transform: rotate(-23deg); }
  .char4 { transform: rotate(-16deg); }
  .char5 { transform: rotate(-9deg); }
  .char6 { transform: rotate(-2deg); }
  .char7 { transform: rotate(5deg); }
  .char8 { transform: rotate(12deg); }
  .char9 { transform: rotate(19deg); }
  .char10 { transform: rotate(26deg); }
  .char11 { transform: rotate(33deg); }
  .char12 { transform: rotate(40deg); }
*/
.text-midle {
  text-align: center;
}

.text-midle > p {
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-text-stroke: 0.04rem #FFF;
}

.header-text-under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem 0 8rem;
}

.header-text-under .text-kakko {
  width: 100%;
  /* 線の長さ */
  --len: 4rem;
  /* 線の太さ */
  --size: 0.18rem;
  /* 線の色 */
  --bColor: #F8F8FF;
  /* 次の黒線の位置 */
  --next-pos: calc(100% - var(--len));
  /* 線のパターン */
  --line: var(--bColor) var(--len), transparent var(--len) var(--next-pos), var(--bColor) var(--next-pos);
  position: relative;
  padding: 0.7rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
  font-size: 1.6rem;
  background: -webkit-gradient(linear, left top, right top, from(var(--line))) 0 0/100% var(--size), -webkit-gradient(linear, left top, right top, from(var(--line))) 0 100%/100% var(--size), -webkit-gradient(linear, left top, left bottom, from(0), to(var(--line))) 0 0/var(--size) 100%, -webkit-gradient(linear, left top, left bottom, from(0), to(var(--line))) 100% 0/var(--size) 100% transparent;
  background: linear-gradient(90deg, var(--line)) 0 0/100% var(--size), linear-gradient(90deg, var(--line)) 0 100%/100% var(--size), linear-gradient(0, var(--line)) 0 0/var(--size) 100%, linear-gradient(0, var(--line)) 100% 0/var(--size) 100% transparent;
  background-repeat: no-repeat;
}

.header-text-under .text-kakko .text-inside {
  background-color: #F8F8FF;
  text-align: center;
  padding: 2rem;
}

.header-text-under .text-kakko .text-inside > h3 {
  margin-bottom: 1.5rem;
}

.header-text-under .img-cat1 {
  width: 15%;
  left: -2rem;
  top: -3rem;
  position: relative;
}

.main-img {
  width: 15%;
}

.mainOne-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainOne-contents .mainOne-left {
  width: 60%;
  padding-left: 15%;
  margin: auto;
}

.mainOne-contents .mainOne-left > h3 {
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

.mainOne-contents .mainOne-left .mainOnetext-all .text-square {
  background-color: deepskyblue;
  margin: 1rem 15rem 1rem 0rem;
  padding-left: 1rem;
}

.mainOne-contents .mainOne-left .mainOnetext-all .text-square > p {
  font-size: 3rem;
  color: white;
}

.mainOne-contents .mainOne-left .mainOnetext-all .text-square > p > sup {
  font-size: 1rem;
  top: -1.5em;
  margin: 0 0.5rem;
}

.mainOne-contents .mainOne-left .mainOnetext-all .text-square:nth-of-type(3) {
  margin: 1rem 10rem 0rem 0rem;
}

.mainOne-contents .mainOne-left .mainOnetext-all .text-square:nth-of-type(3) > p {
  margin-bottom: 0;
}

.mainOne-contents .mainOne-left .mainOnetext-all .kome {
  margin-left: 7rem;
}

.mainOne-contents .mainOne-right {
  width: 40%;
}

.mainOne-contents .mainOne-right > img {
  width: 70%;
}

.mainSec-all.container {
  padding: 0 10rem 3rem;
}

.mainSec-frameOne {
  margin-bottom: 3rem;
}

.frameOne-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 1.5rem;
}

.frameOne-contents .fOne-contents-left {
  width: 50%;
  padding: 0.5rem;
}

.frameOne-contents .fOne-contents-left > h1 {
  letter-spacing: 0.3rem;
}

.frameOne-contents .fOne-contents-left > p {
  font-size: 1.3rem;
  line-height: 2.5rem;
  padding: 2rem 0;
}

.frameOne-contents .fOne-contents-right {
  width: 50%;
}

.fOne-img {
  width: 10%;
  position: relative;
  top: -5rem;
  left: 21rem;
}

.frameSec-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frameSec-contents .fSec-contents-left {
  width: 50%;
  margin: auto;
}

.frameSec-contents .fSec-contents-left .left-title > h1 {
  letter-spacing: 0.3rem;
  font-size: 4rem;
  margin-bottom: 0;
  text-align: center;
}

.frameSec-contents .fSec-contents-left .left-title > h3 {
  letter-spacing: 0.3rem;
  text-align: center;
}

.frameSec-contents .fSec-contents-left .left-title .title-line {
  border: solid;
  width: 80%;
  margin: auto;
}

.frameSec-contents .fSec-contents-left .left-title > p {
  width: 90%;
  padding-left: 3rem;
  margin-top: 1rem;
  letter-spacing: 0.3rem;
}

.frameSec-contents .fSec-contents-left .left-text-under {
  padding-left: 3rem;
  margin-top: 2rem;
  letter-spacing: 0.3rem;
}

.frameSec-contents .fSec-contents-left .left-text-under > h2 {
  -webkit-text-stroke: 0.04rem #FFF;
}

.frameSec-contents .fSec-contents-right {
  width: 50%;
}

.frameSec-contents .fSec-contents-right .text-circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: solid 3px white;
  text-align: center;
  line-height: 8rem;
}

.frameSec-contents .fSec-contents-right .text-circle:nth-of-type(1) {
  margin-left: 20%;
}

.frameSec-contents .fSec-contents-right .text-circle:nth-of-type(2) {
  margin-left: 8%;
}

.frameSec-contents .fSec-contents-right .text-circle:nth-of-type(3) {
  margin-left: 45%;
  line-height: 2rem;
  padding: 0.5rem;
}

.frameSec-contents .fSec-contents-right .text-circle > p {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  margin-bottom: 0;
}

.frameSec-contents .fSec-contents-right .text-circle.th > p:nth-of-type(1) {
  font-size: 0.8rem;
}

.frameSec-contents .fSec-contents-right .text-circle.th > p:nth-of-type(2) {
  font-size: 1.6rem;
}

.mainSec-frameThr-all {
  background-color: white;
  padding: 1rem 0px;
}

.mainSec-frameThr-all .frameThr-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 3rem 0;
}

.mainSec-frameThr-all .frameThr-contents .fThr-contents-left {
  width: 50%;
}

.mainSec-frameThr-all .frameThr-contents .fThr-contents-right {
  width: 50%;
  padding: 2rem;
}

.mainSec-frameThr-all .frameThr-contents .fThr-contents-right > p:nth-of-type(1) {
  letter-spacing: 0.3rem;
  font-size: 2rem;
  font-weight: bold;
}

.mainSec-frameThr-all .frameThr-contents .fThr-contents-right > p:nth-of-type(2) {
  letter-spacing: 0.3rem;
}

.mainSec-frameThr-all .frameThr-contents-under h2 {
  line-height: 3.7rem;
  position: relative;
  height: 3.55rem;
  margin: 0rem 11rem 1em;
  padding: 0 2rem;
  text-align: center;
  color: #fff;
  background: #ebc9b7;
}

.mainSec-frameThr-all .frameThr-contents-under h2:before,
.mainSec-frameThr-all .frameThr-contents-under h2:after {
  position: absolute;
  top: 0;
  display: block;
  height: 3rem;
  content: '';
  border: 1.8rem solid #ebc9b7;
}

.mainSec-frameThr-all .frameThr-contents-under h2:before {
  left: -2.5rem;
  border-left-width: 0.9rem;
  border-left-color: transparent;
}

.mainSec-frameThr-all .frameThr-contents-under h2:after {
  right: -2.5rem;
  border-right-width: 0.9rem;
  border-right-color: transparent;
}

.mainSec-frameThr-all .frameThr-contents-under h2 span {
  position: relative;
  display: block;
}

.mainSec-frameThr-under {
  position: relative;
}

.mainSec-frameThr-under > img {
  width: 10%;
  position: absolute;
  top: -7rem;
  right: 5rem;
}

.mainSec-frameThr-under > img:nth-of-type(2) {
  width: 25%;
  top: 0rem;
  right: -2rem;
}

.mainSec-frameThr-under .fThr-under-f {
  text-align: center;
  padding: 1rem;
  background-color: #6a5247;
  font-size: 2rem;
  color: white;
  margin: 4rem 0;
}

.mainSec-frameThr-under .fThr-under-f > p {
  margin-bottom: 0;
}

.mainThr-frameOne {
  background-color: #6a5247;
  padding: 1rem 4rem;
}

.mainThr-frameOne .frameOne-frame {
  border: solid 0.5rem white;
  padding: 0.5rem;
}

.mainThr-frameOne .frameOne-frame .frameOne-frameSmall {
  border: solid 0.2rem white;
  padding: 1rem 3rem;
  text-align: center;
}

.mainThr-frameOne .frameOne-frame .frameOne-frameSmall > p {
  font-size: 2rem;
  color: white;
  margin-bottom: 0;
}

.mainThr-frameOne .frameOne-frame .frameOne-frameSmall > p > span {
  font-size: 3rem;
}

.mainThr-frameOne .frameOne-frame .frameOne-frameSmall > p:nth-of-type(2) {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.mainThr-frameOne .frameOne-frame .frameOne-frameSmall > img {
  width: 50%;
}

.mainThr-frameOne .frameOne-frame .frameOne-frameSmall .dotted-line {
  border-bottom: dashed 0.2rem white;
}
/*# sourceMappingURL=style.css.map */