@charset "UTF-8";
.container {
  background-color: #c3f6ff;
  width: 100%;
  max-width: 1500px;
}

img {
  width: 100%;
  position: relative;
}

/*.text-main > h2 {
    position: absolute;
    top: 8%;
    left: 36%;
    -webkit-text-stroke: 0.1rem #FFF;
    font-weight: bold;
}
h2 span {
	height: 200px;
	position: absolute;
	width: 20px;
	left: 380px;
	top: 10px;
    -webkit-text-stroke: 0.1rem #FFF;
    font-weight: bold;
	transform-origin: bottom center;
	}
  .char1 { transform: rotate(-37deg); }
  .char2 { transform: rotate(-30deg); }
  .char3 { transform: rotate(-23deg); }
  .char4 { transform: rotate(-16deg); }
  .char5 { transform: rotate(-9deg); }
  .char6 { transform: rotate(-2deg); }
  .char7 { transform: rotate(5deg); }
  .char8 { transform: rotate(12deg); }
  .char9 { transform: rotate(19deg); }
  .char10 { transform: rotate(26deg); }
  .char11 { transform: rotate(33deg); }
  .char12 { transform: rotate(40deg); }
*/
.text-midle {
  text-align: center;
}

.text-midle > p {
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-text-stroke: 0.04rem #FFF;
}

.header-text-under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem 0 8rem;
}

.header-text-under .text-kakko {
  width: 100%;
  /* 線の長さ */
  --len: 4rem;
  /* 線の太さ */
  --size: 0.18rem;
  /* 線の色 */
  --bColor: #F8F8FF;
  /* 次の黒線の位置 */
  --next-pos: calc(100% - var(--len));
  /* 線のパターン */
  --line: var(--bColor) var(--len), transparent var(--len) var(--next-pos), var(--bColor) var(--next-pos);
  position: relative;
  padding: 0.7rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
  font-size: 1.6rem;
  background: -webkit-gradient(linear, left top, right top, from(var(--line))) 0 0/100% var(--size), -webkit-gradient(linear, left top, right top, from(var(--line))) 0 100%/100% var(--size), -webkit-gradient(linear, left top, left bottom, from(0), to(var(--line))) 0 0/var(--size) 100%, -webkit-gradient(linear, left top, left bottom, from(0), to(var(--line))) 100% 0/var(--size) 100% transparent;
  background: linear-gradient(90deg, var(--line)) 0 0/100% var(--size), linear-gradient(90deg, var(--line)) 0 100%/100% var(--size), linear-gradient(0, var(--line)) 0 0/var(--size) 100%, linear-gradient(0, var(--line)) 100% 0/var(--size) 100% transparent;
  background-repeat: no-repeat;
}

.header-text-under .text-kakko .text-inside {
  background-color: #F8F8FF;
  text-align: center;
  padding: 2rem;
}

.header-text-under .text-kakko .text-inside > h3 {
  margin-bottom: 1.5rem;
}

.header-text-under .img-cat1 {
  width: 15%;
  left: -2rem;
  top: -3rem;
  position: relative;
}

.main1-img {
  width: 15%;
}

.main1-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main1-contents .main1-left {
  width: 60%;
  padding-left: 15%;
  margin: auto;
}

.main1-contents .main1-left > h3 {
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

.main1-contents .main1-left .main1text-all .text-square {
  background-color: deepskyblue;
  margin: 1rem 15rem 1rem 0rem;
  padding-left: 1rem;
}

.main1-contents .main1-left .main1text-all .text-square > p {
  font-size: 3rem;
  color: white;
}

.main1-contents .main1-left .main1text-all .text-square > p > sup {
  font-size: 1rem;
  top: -1.5em;
  margin: 0 0.5rem;
}

.main1-contents .main1-left .main1text-all .text-square:nth-of-type(3) {
  margin: 1rem 10rem 0rem 0rem;
}

.main1-contents .main1-left .main1text-all .text-square:nth-of-type(3) > p {
  margin-bottom: 0;
}

.main1-contents .main1-left .main1text-all .kome {
  margin-left: 7rem;
}

.main1-contents .main1-right {
  width: 40%;
}

.main1-contents .main1-right > img {
  width: 70%;
}

.main2-all.container {
  padding: 0 10rem;
}

.frame1-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 1.5rem;
}

.frame1-contents .f1-contents-left {
  width: 50%;
  padding: 0.5rem;
}

.frame1-contents .f1-contents-left > h1 {
  letter-spacing: 0.3rem;
}

.frame1-contents .f1-contents-left > p {
  font-size: 1.3rem;
  line-height: 2.5rem;
  padding: 2rem 0;
}

.frame1-contents .f1-contents-right {
  width: 50%;
}

.f1-img {
  width: 8%;
  position: relative;
  top: -2rem;
  left: 21rem;
}

.frame2-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frame2-contents .f2-contents-left {
  width: 50%;
}

.frame2-contents .f2-contents-left .left-title > h1 {
  letter-spacing: 0.3rem;
  font-size: 4rem;
  margin-bottom: 0;
  text-align: center;
}

.frame2-contents .f2-contents-left .left-title > h3 {
  letter-spacing: 0.3rem;
  text-align: center;
}

.frame2-contents .f2-contents-left .left-title .title-line {
  border: solid;
  width: 80%;
  margin: auto;
}

.frame2-contents .f2-contents-left .left-title > p {
  width: 90%;
  padding-left: 3rem;
  margin-top: 1rem;
  letter-spacing: 0.3rem;
}

.frame2-contents .f2-contents-left .left-text-under {
  padding-left: 3rem;
  margin-top: 2rem;
  letter-spacing: 0.3rem;
}

.frame2-contents .f2-contents-left .left-text-under > h2 {
  -webkit-text-stroke: 0.04rem #FFF;
}

.frame2-contents .f2-contents-right {
  width: 50%;
}
/*# sourceMappingURL=style.css.map */